.App {
  text-align: center;
  margin: 0 auto;
}

.App-logo {
  max-width: 140px;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.table {
  margin: 0 auto;  
  min-width: 350px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
